@model LogicLayer.BusinessObjects.Student

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>
   

    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div style="margin-bottom:15px" class="col-md-10">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div style="margin-bottom:15px" class="col-md-10">
        @Html.DisplayFor(model => model.StudentID)

    </div>

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
